*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Roboto ', monospace;
    background-color: var(--hueso);
}

:root {
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --xlg: 40px;
    --cemento: #84ad5e ;
    --perla: #EAE6CA;
    --hueso: #fffce3;
}

header{
    width: 100%;
    height: 120px;
    background-color: var(--cemento);
    box-shadow: 0px 10px 10px -6px black;
}

.title{
    text-align: center;
}
.title h1 {
    font-size: var(--xlg) ;
    font-weight: bold;
    color: rgb(58, 56, 56);
}

.title p {
    font-size: var(--md);
    font-weight: 300;
    color: rgb(66, 65, 65);
    margin: 6px;
    
}

.content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 50px;
    height: auto;
    margin: 50px 50px;

}

.item-content{
    background-color: var(--perla);
    padding: 12px;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0px 10px 10px -6px rgb(63, 63, 63);
}

.item-content h2{
    margin-bottom: 30px;
}

.form-content{
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 16px;
    background-color: var(--hueso);
    padding: 10px;
    border-radius: 8px;
}
.label-content{
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
}